body {
  margin: 0;
  background-color: #D1E1FF;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  background-color: #fff;
  height: 90px;
  padding: 15px;
  font-weight: 700;
}
header {
  transition: all 0.5s ease;
}

.hidden {
  transform: translateY(-100%);
}

nav img {
  max-height: 350px;
}

nav div a {
  margin-right: 40px;
  text-decoration: none;
  color: #000;
  border-bottom: 3px solid #fff;
  transition: border 0.3s;
}

nav div a:hover {
  border-bottom: 3px solid #6C63FF;
}

button {
  width: 160px;
  height: 54px;
  background-color: #6C63FF;
  color: #fff;
  font-size: 20px;
  border-radius: 40px;
  border: none;
  font-weight: 700;
  margin: 15px;
}

.buttons-bg {
  background-color: #fff;
  max-width: 500px;
  max-height: 468px;
  border: none;
  border-radius: 40px;
  padding: 15px;
  display: block;
  margin: auto;
  text-align: center;
}

.buttons-bg h1 {
  font-size: 45px;
  margin: 0;
}

.buttons-bg label {
  font-size: 25px;
  margin-right: 20px;
  display: inline-block;
}

#color-picker {
  width: 75px;
  height: 36px;
  border: none;
  margin-bottom: 20px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: #000;
  cursor: pointer;
  width: 10rem;
  height: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  background-color: #6C63FF;
  height: 1.8rem;
  width: 1.8rem;    
  border-radius: 100%;
}

#bsa {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 18px;
  color: #666666;
}


